<div class="row center">
    <div class="col-lg-12">
        <p>Some crap goes here about some stuff.</p>
    </div>
</div>
<div class="row white-row">
    <div class="col-lg-6 center">
        <h2>Some Stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque elementum orci tempus commodo. Praesent faucibus non magna ac blandit. Duis non justo eu massa iaculis iaculis. Praesent fermentum tristique risus, ut fermentum justo sagittis sit amet. Sed id imperdiet leo. Vivamus dignissim tincidunt est, ac sodales turpis tempus a. Vivamus varius, leo vel sollicitudin porttitor, diam nisl viverra libero, sed suscipit est massa quis arcu.</p>
    </div>
    <div class="col-lg-6 center">
        <img src="images/phone.png">
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-6 center">
        <img src="images/phone.png">
    </div>
    <div class="col-lg-6 center">
        <h2>Some Stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque elementum orci tempus commodo. Praesent faucibus non magna ac blandit. Duis non justo eu massa iaculis iaculis. Praesent fermentum tristique risus, ut fermentum justo sagittis sit amet. Sed id imperdiet leo. Vivamus dignissim tincidunt est, ac sodales turpis tempus a. Vivamus varius, leo vel sollicitudin porttitor, diam nisl viverra libero, sed suscipit est massa quis arcu.</p>
    </div>
    <div class="clearfix"></div>
</div>