<div class="row center">
    <p>A collection of your digital sunsets.</p>
</div>
<div class="row white-row gallery">
    <% @gradients.each do |gradient| %>
        <div class="col-sm-4">
            <img src="<%= gradient.gradient %>" /><br />
            <div class="location">
                <%= gradient.author %><br />
                <%= gradient.note %>
            </div>
        </div>
    <% end %>
    <div class="clearfix"></div>
</div>
<div class="row center">

</div>