<div class="below-gradient">
	<button type="button" class="add-new btn btn-success btn-sm">new color</button>
</div>
<div class="main-container">         
	
	<div class="slider"> </div>
	<canvas id="gradient" width="240" height="240"></canvas>
	<span class="clearfix"></span>
</div>
<div class="below-gradient">
	<button type="button" class="save-button btn btn-primary btn-sm">save</button>
</div>
<!-- color modal -->
<div class="modal fade modal-color">
	<div class="modal-dialog">
	  	<div class="modal-content pick-a-color-markup">
			
	  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<div class="modal fade modal-save">
	<div class="modal-dialog">
	  	<div class="modal-content">
			<div class="modal-header">
		  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  	<h4 class="modal-title">Save this image</h4>
			</div>
			<div class="modal-body">
				<div class="img"></div>
				<br />

				<form action="/gradients" method="post" role="form" class="create-form">
				  <div class="form-group">
				  	<input id="form-gradient" type="hidden" name="gradient[gradient]" class="form-control" rows="2"><%= @gradient.gradient %></textarea>
				    <label for="author">Author</label>
				    <br />
				    <textarea id="author" name="gradient[author]" class="form-control" rows="2" maxlength="100"><%= @gradient.author %></textarea><hr />
				    <label for="note">Note</label>
				    <br />
				    <textarea id="note" name="gradient[note]" class="form-control" rows="2" maxlength="100"><%= @gradient.note %></textarea><hr />
				  </div>
				  <button type="submit" class="submit">Submit</button>
				</form>

			</div>
			<div class="modal-footer">
		  		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
	  	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

