<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Sinatra Test</title>
	<link href="/css/normalize.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/css/app.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="javascripts/jquery.touchSwipe.js"></script>
	<script src="jquery-ui-1.10.3.custom.js"></script>
	<script src="javascripts/app.js"></script>
</body>
</html>