/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wrapper {
    width: 100%;
    height: 100%;
}

.gradient-bg {
    background: #FFF200 url(images/fallback-gradient.png) no-repeat; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ED2590), to(#FFF200));
    background-image: -webkit-linear-gradient(top, #ED2590, #FFF200); 
    background-image:    -moz-linear-gradient(top, #ED2590, #FFF200);
    background-image:     -ms-linear-gradient(top, #ED2590, #FFF200);
    background-image:      -o-linear-gradient(top, #ED2590, #FFF200);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.main-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.navbar {
    text-align: center;
}

.colors {
    float: left;
    position: fixed;
}

.focus {
    border: 3px solid blue;
}

#gradient {
    width: 240px;
    height: 240px;
    z-index: -100;
    float: right;
}

.modal-body img {
    width: 100%;
}

.slider {
    height: 240px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ui-slider .ui-slider-handle {
    margin-left: 10px;
    background-color: #fff;
    width: 40px;
    height: 20px;
}

.ui-slider .ui-slider-handle:after {
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    background: transparent url('../images/up-down.png') 50% 50% no-repeat;
    float: right;
}

div.pick-a-color-markup .btn-group .color-dropdown, div.pick-a-color-markup .btn-group .color-dropdown.no-hex {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    -moz-border-radius: 0;
    -webkit-box-shadow: 0;
}

div.pick-a-color-markup .color-preview  {
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0;
    -webkit-box-shadow: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.pick-a-color-markup {
    float: left;
}

.modal-dialog li {
    list-style-type: none;
}


div.pick-a-color-markup .color-menu{
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1005;
}

.below-gradient {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

/* gallery */

.gallery img {
    width: 100%;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}