@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?62xzwc');
	src:url('fonts/icomoon.eot?#iefix62xzwc') format('embedded-opentype'),
		url('fonts/icomoon.woff?62xzwc') format('woff'),
		url('fonts/icomoon.ttf?62xzwc') format('truetype'),
		url('fonts/icomoon.svg?62xzwc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sunset5:before {
	content: "\e600";
}
.icon-question:before {
	content: "\e601";
}
.icon-info:before {
	content: "\e602";
}
.icon-smile:before {
	content: "\e603";
}
.icon-double-arrow:before {
	content: "\e604";
}
.icon-th-small:before {
	content: "\e606";
}
.icon-checkmark:before {
	content: "\e605";
}
.icon-plus:before {
	content: "\e607";
}
.icon-arrow-up:before {
	content: "\e608";
}
