$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass';
@import 'typography';
@import 'variables';
@import 'app';
@import 'minicolors-theme';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */

html, body {
    overflow-x: hidden;
}

body {
    padding-top: 20px;
    // padding-bottom: 20px;
    @include background(image-url("/images/gradient-bg-fallback.jpg"));
    @include background(linear-gradient($neonPink, $yellow, $yellow, $yellow, $neonPink, $neonPink));
    
    background-repeat: repeat-x;
    background-size: contain;
    font-size: 2em;
    color: $black;
    border-top: 10px solid $black;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0 0 $itemSpacing 0;
    &:first-of-type {
        margin-top: 30px;
    }
}

a:hover, a:focus {
    color: blue;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}




// DIGITAL 

.back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #fff;
    border-radius: 25px;
    cursor: pointer;
    display: none;
    z-index: 200;
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    &:hover {
        cursor: hover;
        color: $neonPink;
    }
}

.header {
    padding-top: 20px;
    text-align: center;
}

.popover {
    font-size: .8em;
}

.logo {
    padding-top: 40px;
    font-size: 4em;
    text-transform: uppercase;
    img {
        max-width: 100%;
    }
}

.tag-line {
    padding-top: 20px;
}

.center {
    text-align: center;
}

.full-size-icon {
    // padding-bottom: $itemSpacing;
    font-size: 1.8em;
}

.nav {
    & > li {
        display: inline-block;
        a {
            color: $black;
            @extend .full-size-icon;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

.container {
    max-width: 730px;
}

.row {
    padding: 80px 0;
    &:first-of-type {
        padding: 0 0 80px;
    }
}

.full-width-row {
    display: inline-block;
    width: 100%;
}

.black-row:before, .black-row:after {
    content: "";
    position: absolute;
    background: $black;  /* Match the background */
    top: 0;
    bottom: 0;
    width: 9999px;   /* some huge width */
    display: block;
}

.black-row:before {
    right: 100%;
}

.black-row:after {
    left: 100%;
}

.black-row {
    position: relative;
    background-color: $black;
    color: $white;
    display: inline-block;
}

.white-row:before, .white-row:after {
    content: "";
    position: absolute;
    background: $white;  /* Match the background */
    top: 0;
    bottom: 0;
    width: 9999px;   /* some huge width */
    display: block;
}

.white-row:before {
    right: 100%;
}

.white-row:after {
    left: 100%;
}

.white-row {
    position: relative;
    background-color: $white;
    // display: inline-block;
}

.footer {
    font-size: .8em;
}

//  GALLERY

.gallery {
    background: #fff;
    .white-row {
        margin: 0 auto;
    }
}

.gallery img {
    padding: 20px 0 10px 0;
    width: 100%;
}

.location {
    font-size: .7em;
    color: $grey;
    text-align: left;
    margin-bottom: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 10px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .nav > li a:hover {
        color: #FFF;
    }
}

.test {
    width: 50px;
    height: 50px;
    border: 1px solid #f00;
}
