

.minicolors {
	width: 20px;
}

.minicolors input[type=hidden] + .minicolors-swatch {
	width: 20px;
	height: 20px;
	position: relative;
    left: 10px;
    border: none;
    background: none;
}

.minicolors

.minicolors-swatch-color {
    

}





