[class*="icon-"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-smiley {
	background-position: 0 0;
	width: 32px;
}
.icon-smiley2 {
	background-position: -48px 0;
	width: 32px;
}
.icon-question {
	background-position: -96px 0;
	width: 32px;
}
.icon-info {
	background-position: -144px 0;
	width: 32px;
}
.icon-info2 {
	background-position: -192px 0;
	width: 32px;
}
