<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Sunset</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="favicon-152.png" sizes="152x152">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/vendor.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- Fix safari installed webapp link behavior -->
        <script type="text/javascript">
            if(("standalone" in window.navigator) && window.navigator.standalone){

                var noddy, remotes = false;

                document.addEventListener('click', function(event) {

                noddy = event.target;

                while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
                noddy = noddy.parentNode;
                }

                if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes))
                {
                event.preventDefault();
                document.location.href = noddy.href;
                }

                },false);
            }
        </script>
        <script src="bower_components/modernizr/modernizr.js"></script>
    
    <body class="app">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="header">
                <div class="app-logo"><img src="images/app-logo.png"></div>
            </div>
            <%= yield %>
            <!-- INFO Modal -->
            <div class="modal fade modal-info" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="icon-smile full-size-icon center"></div>
                            <p>Digital Sunset is an app project by <a href="http://alexharr.is">Alex Harris</a> and <a href="http://nicolelavelle.com">Nicole Lavelle</a>.</p>
                            <p>We are excited to see what you do with it. Tag your things with the hashtag #digitalsunset so we can peep your gradients.</p>
                            <p>digitalsunsetapp.com<br />#digitalsunset</p>
                            <p>© 2014 mostly</p>
                            <p>View the code and submit any bugs on the <a href="https://github.com/alexharris/digitalsunset">GitHub project page</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-block btn-primary" data-dismiss="modal">Got it</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="bottom-nav center">
                <ul class="nav">
                    <li><a href="/" class="icon-sunset5 center-icon"></a></li>
                    <li><a href="#" class="desktop-question icon-question center-icon"></a></li>
                    <li><a href="#" class="icon-info center-icon info-button"></a></li>
                    <li><a href="/gallery" class="icon-th-small center-icon"></a></li>
                </ul>
            </div>
        </div>
        <script src="scripts/vendor.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-47862199-1');ga('send','pageview');
        </script>

        <script src="scripts/main.js"></script>

        <script src="scripts/plugins.js"></script>
