<div class="row center">
    <div class="col-md-12">
        <div class="start-gradient">
            <img class="app-start-gradient" src="images/app-start-gradient.png"><br>
            <div class="make-a-sunset">Make a sunset.</div>
        </div>
        <div class="sunset-maker">
            <div class="add-new interior-button btn"><span class="icon-plus"></span> new color</div>
            <br>
            <div class="slider"> </div>
            <canvas id="gradient" width="200" height="220"></canvas><br>
            <div class="interior-button btn save-button"><span class="icon-checkmark"></span> save sunset</div>
        </div>
    </div>
</div>
<!-- INFO Modal -->
<div class="modal fade modal-info" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="icon-smile full-size-icon center"></div>
                <p>Digital Sunset is an app project by Alex Harris and Nicole Lavelle. It is simultaneously very important and totally useless.</p>
                <p>We are excited to see what you do with it. Tag your things with the hashtag #digitalsunset so we can peep your gradients.</p>
                <p>digitalsunsetapp.com<br>#digitalsunset</p>
                <p>© 2014 mostly</p>
                <p>Digital Sunset was made with heroku thing</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block btn-primary" data-dismiss="modal">GR8 NO 1 CARES</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- COLOR Modal -->
<div class="modal fade modal-picker" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" id="hidden-input" class="minicolors-input" value="#000000">
                <div class="modal-swatch"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger remove-color" data-dismiss="modal">Remove Color</button>
                <button type="button" class="btn btn-primary modal-color-ok pull-right" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- SAVE Modal -->
<div class="modal fade modal-save" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/gradients" method="post" role="form" class="create-form">
                <div class="modal-body text-center">
                    
                    <div class="form-group">
                        <input id="form-gradient" type="hidden" name="gradient[gradient]" class="form-control">
                        <br>

                        <input id="author" placeholder="Author" name="gradient[author]" maxlength="100">
                        <br>
                        <br>
                        <input id="location" placeholder="Location" name="gradient[note]" maxlength="100">
                    </div>
                    <div class="img"></div>
                    <p>Hold down image to save to phone, or submit it to our gallery.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Cancel</button>
                    <button type="submit" class="btn btn-primary submit-button pull-right">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->