<div class="row center">
    <div class="col-lg-12">
        <p><strong>We all know the magic feeling of a cell phone pic of a sunset. But what is better than a picture? The real sunset, duh. But a close second might be the precise digital gradient you can make with the Digital Sunset app. Recreate the fleeting mystery of the sunset on your dumb smartphone.</strong></p>
        <br>
        <p><em>Sunsets are ephemeral, but PNGs are forever.</em></p>
    </div>
</div>
<div class="row white-row" id="info-row">
    <div class="col-lg-6 center">
        <div class="icon-info full-size-icon"></div>
        <p><strong>Digital Sunset is mostly for your phone.</strong></p>
        <p><strong>Try it there.</strong></p>
        <p><strong>Put the biggest most impossible thing into a little digital square.</strong></p>
    </div>
    <div class="col-lg-6 center">
        <img src="images/phone.png">
    </div>
    <div class="clearfix"></div>
</div>
<div class="row center" id="question-row">
    <div class="col-lg-12">
        <div class="icon-question full-size-icon"></div>
        <p><strong>What is worth looking at?</strong></p>
        <p><strong>If you look at the sunset, will it hurt your corneas?</strong></p>
        <p><strong>Will it hurt your psyche?</strong></p>
        <p><strong>If you take a cell phone pic of the sunset, does that make it less special? What if you send that cell phone pic to your coworker, or your sister, or the person you want to be your boyfriend? Does that make it more special?</strong></p>
        <p><strong>Is this notetaking or souvenir gathering?</strong></p>
        <p><strong>If photographs are experience captured, then what is a picture of the sunset on your Instagram?</strong></p>
    </div>
</div>